:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    font-style:italic;

    color-scheme: light;
    color: rgba(37, 37, 37, 0.87);
    background-color: #e0e0e0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: #496b8a;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    margin: 4%;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

#app {
    margin: 0;
    text-align: center;
}

div.todo{
    width: 40%;
    margin: 5%;
    display: inline-block;
}

input{
    background-color: aliceblue;
    color: black;
    height: 24px;
    border-radius: 12px;
    border-color: #213547;
    border-width: 1px;
}

tr {
    border: #f9f9f9 solid 1px;
    margin: 8px;
}

th {
    margin: 8px;
    padding: 8px;
}

td {
    margin: 8px;
    padding: 8px;
}

fieldset {
    border: none;
}

select{
    background-color: aliceblue;
    color: black;
    height: 24px;
    border-radius: 12px;
    border-color: #213547;
    border-width: 1px;
}

div.espacio-input{
    width: 20%;
    display: inline-block;
}

div.espacio-label{
    width: 10%;
    display: inline-block;
}

table {
    float: center;
    align-items: center;
    font-family: arial, sans-serif;
    background-color: rgb(198, 205, 218);
    color: rgba(37, 37, 37, 0.87);
    width: 100%;
    border-radius: 10px;
    color: rgba(37, 37, 37, 0.87);
    font-weight: 700;
    text-align: center;
    border-collapse: collapse;
}